body{
    margin: 0px;
    padding: 0px;
}
.start{
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url("img/gam6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.start h1{
    text-align: center;
    color:white;
    font-weight: 900;
    font-size: 100px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-family: 'Permanent Marker', cursive;
}
.nav-link{
    font-size: 25px;
    transition: all .5s ease 0s;
}
.nav-link:hover{
    background-color: rgb(73, 97, 58);
    border-radius: 10px;    
}
a .icon{
    font-size: 25px;
    color: white;
}
.content h1{
    margin: 10px;
}
p{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
}
.foto{
    display: flex;
    margin: 25px;    
    flex-wrap: wrap;  
}
.face{
    border-radius: 100%;
    width: 200px;
    height: 100%;
    gap: 100px;  
}
.foto ul li{
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center;
}
.foto ul li p{
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.8), 
    -3px 0px 7px rgba(0, 0, 0, 0.8), 
    0px 4px 7px rgba(0, 0, 0, 0.8);
}
#click{
    display: none;
}
/* untuk tampilan mobile */
@media only screen and (max-width: 600px) {
    .start h1{
        text-align: center;
        color:white;
        font-weight: 900;
        font-size: 60px;
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
        font-family: 'Permanent Marker', cursive;
    }
    .foto ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foto ul li p{
        font-size: 20px;
    }
    #click{
        display: flex;
        margin-bottom: 20px;
    }

    .end{
        width: 100%;
        height: 40px;
        color: white;
        font-size: 1px;
        font-weight: 100;
        font-family: 'Permanent Marker', cursive;
    }
}